@(apps: List[SystemApplication])

@main(Messages("index.title")) {

  <div class="container">

   <div class="jumbotron">

    <img src="@routes.Assets.at("images/plongo.jpg")"/>

   <br/><br/>

    <div class="alert alert-info">@Messages("index.showLog")</div>

    <br/>

  <div class="btn-group">
  		     @for(app <- apps) {
  		     <a class="btn btn-lg btn-success" href="details?collection=@app.name" role="button">@app.name</a>
  		     &nbsp;&nbsp;

			   }
  </div>

  <br/><br/>

   <div class="alert alert-info">@Messages("index.uploadTitle")</div>

	   <br/>
		     @helper.form(action = routes.Application.upload(), 'enctype -> "multipart/form-data") {
	    <table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" width="100%">
	      <tr>
	       <th>@Messages("index.sysAppCombo")</th>
		   <td>
			<select name="appId" >
			   <option value="-1">@Messages("index.newSystem")</option>
			 @for(app <- apps) {
			   <option value="@app.name">@app.name</option>
			   }
			</select>
		  </td>
		 </tr>
		 <tr>
		  <th>@Messages("index.uploadFile")</th>
		  <td>
		      <input type="file" name="logfile" class="form-control">
		   </td>
		  </tr>
		  <tr>
		    <td colspan="2">
	          <input type="submit" class="btn btn-primary" value="@Messages("index.sendFile")">
	       </td>
	      </tr>
	      </table>
	  </div>
	</div>
	      }
}
